{% load i18n %}
{% trans "Halo" %} {{ user.get_username }},

{% trans "Anda menerima email ini karena Anda meminta reset kata sandi untuk akun DeteksiBan Anda." %}

{% trans "Silakan klik link berikut untuk mereset kata sandi Anda:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Link ini akan kedaluwarsa dalam 24 jam." %}

{% trans "Jika Anda tidak meminta reset kata sandi, abaikan email ini." %}

{% trans "Salam," %}
{% trans "Tim DeteksiBan" %}